
#gradient-canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    --gradient-color-1: #c3e4ff;
    --gradient-color-2: #FFFFFF;
    --gradient-color-3: #EAECFE;
    --gradient-color-4: #F9DEF7;
    position: absolute;
}

.dashboard--content {
    max-width: 1028px;
    width: 100%;
    max-height: calc(100vh - 200px);
    height: 100%;
}

.dashboard--greetings h1 {
    color: #060d25;
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
    text-align: start;
    margin: 0;
}

.dashboard--greetings p {
    color: #65656d;
    font-size: 15px;
    line-height: 1.45;
    margin-top: 15px;
    max-width: 580px;
    text-align: start;
}
.agency--actions > .btn {
    background-color: #ffffff80;
    border: 0;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    color: #060d25;
    border-radius: 8px;
    box-shadow: none !important;
    height: 34px;
    line-height: 34px;
    min-height: 34px;
    padding: 0 10px;
}

.agency--actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.agency--header {
    align-items: center;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #f1f1f1;
}

.agency--container {
    background-color: #fff9;
    border: 1px solid #f1f1f1cc;
    box-shadow: 0 4px 30px #0000001a;
    border-radius: 15px;
}

.agency--actions > .btn:hover {
    color: #2142e7;
}

.agency--name {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-left: 0;
    color: #060d25;
}
.account--cards {
    -moz-column-gap: 5px;
         column-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px;
    row-gap: 5px;
    width: 100%;
}

.account--cards > .account--card {
    border: 1px solid #0000;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 100%;
    background-color: #0000;
    position: relative;
    align-items: center;
}

.account--cards > .account--card:hover {
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px #0000000d;
}

.account--content > .account--name {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #060d25;
}

.account--content >  .account--location-id {
    color: #65656d;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 3px;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account--profile {
    width: 54px;
    height: 54px;
    background-color: #ebebea;
    color: #65656d;
    align-items: center;
    border-radius: 16px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    padding: 10px;
}

.account--profile > img {
    width: 100%;
    height: 100%;
}

.account--content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
    width: calc(100% - 70px);
}

span.capitalize.user--name-abbreviation {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #060d25;
    font-size: 16px;
    line-height: 1;
    text-align: start;
    font-weight: bold;
    box-shadow: 0 4px 30px #0000001a;
}

span.capitalize.user--name-abbreviation:hover {
    opacity: 0.7;
}

.nav--container .nav--title {
    padding-bottom: 20px;
    padding-left: 12px;
    padding-top: 3px;
    text-align: left;
    align-items: start;
    display: flex;
    font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    letter-spacing: -.06px;
    line-height: 28px;
}

a.nav--item {
    border-radius: 14px;
    cursor: pointer;
    padding: 8px 12px;
}

a.nav--item span {
    font-size: 13.5px;
    font-weight: 400;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity .25s ease-in-out;
    white-space: nowrap;
    color: #060d25;
}

a.nav--item.active, a.nav--item:hover {
    background-color: #fff;
    color: #060d25;
}

a.nav--item.active span, a.nav--item:hover span {font-weight: 600;}

.\[mask-image\:linear-gradient\(to_bottom\,white\,transparent\)\] {
    -webkit-mask-image: linear-gradient(to bottom, white, transparent);
    mask-image: linear-gradient(to bottom, white, transparent);
}
.text-slate-900\/\[0\.045\] {
    color: #0f172a0b;
}
.container-fluid {
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.drawer-toggle:checked ~ .drawer-side > *:not(.drawer-overlay) > div{
    display: flex;
}
.glass--effect {
    background-color: rgb(255 255 255 / 0.6) !important;
    isolation: isolate;
}
.card {
    flex-direction: column;
    /* box-shadow: 0px 3px 4px 0px #f1f1f4; */
    background-color: #fff;
    border-radius: .75rem;
    border: 1px solid #f1f1f4;
}
.card-header {
    display: flex;
    min-height: 56px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f4;
    padding: .75rem 1.875rem;
}





.scrollable-x-auto {
    overflow-x: auto
}

.scrollable,.scrollable-auto,.scrollable-hover:hover,.scrollable-x,.scrollable-x-auto,.scrollable-x-hover:hover,.scrollable-y,.scrollable-y-auto,.scrollable-y-hover:hover {
    scrollbar-color: var(--tw-scrollbar-thumb-color,#f1f1f4) transparent
}

.scrollable-auto::-webkit-scrollbar-thumb,.scrollable-hover:hover::-webkit-scrollbar-thumb,.scrollable-x-auto::-webkit-scrollbar-thumb,.scrollable-x-hover:hover::-webkit-scrollbar-thumb,.scrollable-x::-webkit-scrollbar-thumb,.scrollable-y-auto::-webkit-scrollbar-thumb,.scrollable-y-hover:hover::-webkit-scrollbar-thumb,.scrollable-y::-webkit-scrollbar-thumb,.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--tw-scrollbar-thumb-color,#f1f1f4)
}

.container-fixed {
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media (min-width: 1280px) {
    .container-fixed {
        margin-left:auto;
        margin-right: auto;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        max-width: 1280px
    }
}

